.boxtour .item{
    border: 1px solid #ccc;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 10px;

}
.home-hanhtrinh:before{
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: red;
    border: 2px solid orange;
    top: 34px;
    left: 50px;
}

.boxtour .item:hover{
    box-shadow: inset;
}
.title-detailtour{
    position: relative;
}
.title-detailtour h4::before{
    position: absolute;
    content: '';
    height: 65%;
    width: 3px;
    background-color: red;
    top: 6px;
    left: -5px;
}
.boxtour .item .img img{
    height: 200px;
    width: 100%;
    border-radius: 10px !important;
}

.title-index-parent-r{
    position: relative;
}

.title-index-r{
    margin-top: 20px;
    font-weight: bold;
    padding: 10px 0px;
    font-family: monospace;
}

.title-index-r:before{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: red;
    top: 90%;
    left: 0px;
    border-radius: 20px;
}

.title-index-parent{
    position: relative;
}

.title-index{
    margin-top: 20px;
    font-weight: bold;
    padding: 10px 0px;
    font-family: monospace;
}

.title-index:before{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: greenyellow;
    top: 90%;
    left: 0px;
    border-radius: 20px;
}


.clear{
    clear: both;
}
.hint-place{
    padding: 10px;
}
.hint-place .hint-place-item{
    border-radius: 20%;
    height: 50px;
    width: 100%;
    color: black;
    border: 1px solid #ccc;
}